<app-header></app-header>
<app-menu></app-menu>
<!--Home-->
<div class="hero bg-base-100" id="about">
  <div class="hero-content text-center">
    <div class="mt-10">
      <h1 class=" md:text-9xl text-5xl font-light">FRONT-END</h1>
      <div class="mt-10"></div>
      <h1 class="md:text-9xl text-5xl font-light ">WEB DESIGN!</h1>
      <div class="mt-3 underline decoration-sky-500 decoration-2">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
      <p class="py-6 text-3xl ">Welcome to my personal online portfolio.
        This is where i practice
        my frontend development skills and where you can find out more about me or my work.</p>
    </div>
  </div>
</div>
<!--Home-->

<!--About Me-->
<div #about data-theme="cupcake" class="flex justify-center">
  <div class="collapse collapse-plus">
    <input type="checkbox" class="" />
    <div class="flex justify-center collapse-title text-4xl">
      About me
    </div>
    <div class="collapse-content">
      <div class="container my-4 ">
        <div class="columns-1">
          <div class="col-md-12 col-sm-12 text-justify text-xl">
            <p> I'm Jose Goyos and I'm specialized in <strong class="decoration-sky-500 underline underline-offset-2">
                Web Design and Development FrontEnd </strong>. Mapping in
              <strong class="decoration-sky-500 underline underline-offset-2"> Angular </strong> with <strong
                class="decoration-sky-500 underline underline-offset-2">
                Tailwindcss, Bootstrap, Primeng, Angular Material</strong> and
              others, based on W3C standards I try to get better every day
              coding with <strong class="decoration-sky-500 underline underline-offset-2">Angular and
                Typescript</strong></p><br>
            <p> I always had as habitat the environment of development (this is what I love most), both at the training
              and work level. After finishing my studies of systems analysis I have worked on a few projects, however, I
              want to continue growing independently in <strong
                class="decoration-sky-500 underline underline-offset-2">web development</strong> with
              <strong class="decoration-sky-500 underline underline-offset-2">Angular. </strong></p><br>
            <p> Currently I continue to grow at the professional level independently with my facet of <strong
                class="decoration-sky-500 underline underline-offset-2"> Freelance
                Web Designer </strong>. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div data-theme="cupcake" class="flex justify-center">
  <div class="collapse collapse-plus">
    <input type="checkbox" class="peer" />
    <div class="flex justify-center collapse-title text-4xl">
      What i do
    </div>
    <div class="collapse-content">
      <div class="container my-4">
        <div class="columns-2">
          <div class="col-md-6 col-sm-12 text-justify text-xl">
            <p> I am currently more than comfortable working with <strong
                class="decoration-sky-500 underline underline-offset-2">Angular</strong> I enjoy
              creating responsive sites to enhance images of online brands of companies and trying to make the web a
              friendlier place for all its users.
            </p>
            <p> Therefore use wonders like <strong class="decoration-sky-500 underline underline-offset-2">Bootstrap,
                Tailwindcss and Angular</strong>, and programs like
              <strong class="decoration-sky-500 underline underline-offset-2">VSCode.</strong>
            </p>
            <p>And every day I look for new knowledge, resources and inspiration.
            </p>
          </div>
          <div class="text-justify text-xl">
            <!--List to do-->
            <p> But I still have a lot to keep learning. Here is a small list of things I would like to do:
            </p>
            <ul class="arrow list-unstyled">
              <li>Being better coder in User Experience and User Interface <strong
                  class="decoration-sky-500 underline underline-offset-2">(UX-UI)</strong>.</li>
              <li>Learn <strong class="decoration-sky-500 underline underline-offset-2">game develop</strong>.</li>
              <li>Expand my knowledge in <strong class="decoration-sky-500 underline underline-offset-2">web development
                  and responsive design with Angular</strong>.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div data-theme="cupcake" class="flex justify-center">
  <div class="collapse collapse-plus">
    <input type="checkbox" class="peer" />
    <div class="flex justify-center collapse-title text-4xl">
      Additional Info
    </div>
    <div class="collapse-content">
      <div class="container my-4">
        <div class="columns-2">
          <div class=" text-justify text-xl md:ml-20">
            <p> Here's the setup from where i work.
            </p>
            <br>
            <ul class="arrow list-unstyled">
              <li> <strong class="decoration-sky-500 underline underline-offset-2">AMD Ryzen 5 3400g</strong></li>
              <li>Ram <strong class="decoration-sky-500 underline underline-offset-2">16GB DDR4 2400</strong></li>
              <li>Mother board<strong class="decoration-sky-500 underline underline-offset-2"> Gigabyte B450m
                  DS3H</strong>.
              </li>
              <li>Gpu <strong class="decoration-sky-500 underline underline-offset-2">AMD Vega 11</strong>.</li>
              <li>HDD 2TB Seagate , SSD 500GB Sandisk, </li>
            </ul>
          </div>
          <div class="text-justify text-xl">
            <p>I consider myself a person with great attention to detail, motivated and self-critical. In continuous
              training, team worker and eager to continue enjoying what I do.
            </p>
            <p class="mt-5">Motivation
              <span class="float-right">100%</span>
            </p>
            <progress class="progress progress-info" value="100" max="100"></progress>
            <p>Creativity
              <span class="float-right">98%</span>
            </p>
            <progress class="progress progress-info" value="98" max="100"></progress>
            <p>Team-work
              <span class="float-right">95%</span>
            </p>
            <progress class="progress progress-info" value="95" max="100"></progress>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--About Me-->

<!--Contact Me-->
<div class="justify-center">
  <div class="hero bg-sky-500">
    <div class="hero-content text-center">
      <div class="mt-10">
        <h1 class=" md:text-7xl text-5xl  font-light ">DO YOU NEED SOMETHING FROM ME?</h1>
        <div class="mt-3 underline decoration-base-500 decoration-2">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <p class="py-6 text-3xl ">Contact me</p>
        <button class="btn btn-outline rounded-full">Contact
          <svg class="h-6 w-6 ml-2 rotate-90" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8" />
          </svg>
        </button>
      </div>

    </div>
  </div>
</div>
<!--Contact Me-->

<!--Services-->
<div class="justify-center py-3" id="services">
  <div class="hero">
    <div class="hero-content text-center">
      <div class="mt-10">
        <h1 class=" md:text-7xl text-5xl  font-light ">Services</h1>
        <div class="mt-3 underline decoration-sky-500 decoration-2">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <p class="py-6 text-3xl ">Here you'll find what I do.</p>
      </div>
    </div>
  </div>
</div>
<div data-theme="cupcake" class="grid md:flex md:justify-around	justify-center py-10	">
  <div data-theme="cupcake" class="card md:w-96 bg-base-100 md:shadow-xl my-2">
    <figure class="px-10 pt-10">
      <svg class="h-20 w-20 text-sky-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z" />
      </svg>
    </figure>
    <div class="card-body items-center text-center">
      <h2 class="card-title text-4xl">Web Design</h2>
      <br>
      <p class="text-xl">Design web pages that are not only attractive, but also adapt to the needs and client's
        expectation. Trying at
        all times to adapt a good design to a logic according to each project and its requirements.</p>

    </div>
  </div>
  <div data-theme="business" class="card md:w-96 bg-base-100 shadow-xl my-2">
    <figure class="px-10 pt-10">
      <svg class="h-20 w-20 text-sky-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M8 9l3 3-3 3m5 0h3M5 20h14a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
      </svg>
    </figure>
    <div class="card-body items-center text-center">
      <h2 class="card-title text-4xl">Front-End Development</h2>
      <p class="text-xl">Your website will be responsive, accessible and functional
        I get that attractive design works perfectly in all browsers, has a functional character, is adapted to W3C
        standards and with the help of <strong class="decoration-sky-500 underline underline-offset-2">Bootstrap,
          Tailwind</strong> and many others css frameworks, I add that extra interactivity to the user experience and
        interface.</p>
    </div>
  </div>
  <div data-theme="cupcake" class="card md:w-96 bg-base-100 shadow-xl my-2">
    <figure class="px-10 pt-10">
      <svg class="h-20 w-20 text-sky-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M9 3v2m6-2v2M9 19v2m6-2v2M5 9H3m2 6H3m18-6h-2m2 6h-2M7 19h10a2 2 0 002-2V7a2 2 0 00-2-2H7a2 2 0 00-2 2v10a2 2 0 002 2zM9 9h6v6H9V9z" />
      </svg>
    </figure>
    <div class="card-body items-center text-center">
      <h2 class="card-title text-4xl">Full optimization</h2>
      <br>
      <p class="text-xl">Your web can load faster than other webs, faster in every device and every connection.<br>I'll
        give you all
        perfomance tests results
        so you can be sure that your web is fully optimized </p>
    </div>
  </div>
</div>
<!--Services-->
<!--Portfolio-->
<div class="justify-center md:py-10 md:my-3" id="portfolio">
  <div class="hero">
    <div class="hero-content text-center">
      <div class="mt-10">
        <h1 class=" md:text-7xl text-5xl  font-light ">Portfolio</h1>
        <div class="mt-3 underline decoration-sky-500 decoration-2">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <p class="py-6 text-3xl ">Some demos here.</p>
      </div>
    </div>
  </div>
</div>
<!--Portfolio-->
<!--Cards-->
<div data-theme="cupcake" class="md:flex grid justify-center">

  <app-cards class="flex flex-wrap justify-center py-10"></app-cards>
</div>
<!--Cards-->

<!--Contact Me-->

<!--Contact Me-->
