<app-header></app-header>
<app-menu></app-menu>
<!--Home-->
<div class="hero bg-base-100">
  <div class="hero-content text-center">
    <div class="mt-10">
      <h1 class=" md:text-9xl text-6xl font-light">FRONT-END</h1>
      <div class="mt-10"></div>
      <h1 class="md:text-9xl text-6xl font-light">WEB DESIGN!</h1>
      <div class="divider"></div>
      <p class="py-6 text-3xl">Welcome to my personal online portfolio.
        This is where I play, research and practice
        with my frontend development skills and where you can find out more about me or my works..</p>
    </div>
  </div>
</div>
