<div data-theme="cupcake" class="navbar bg-base-100 mt-2">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost btn-circle lg:hidden">
        <svg class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
        <li><a class="hover:btn-info hover:text-white" href="#">Home</a></li>
        <li><a class="hover:btn-info hover:text-white" href="#">About me</a></li>
        <li><a class="hover:btn-info hover:text-white" href="#">Services</a></li>
        <li><a class="hover:btn-info hover:text-white" href="#">Portfolio</a></li>
        <li><a class="hover:btn-info hover:text-white" href="#">Get my CV</a></li>
        <li><a class="hover:btn-info hover:text-white" href="#">Contact</a></li>
        <a class="btn btn-info text-white">Login &nbsp;
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"
            stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1" />
          </svg>
        </a>
      </ul>

    </div>

    <a class="btn btn-ghost normal-case text-xl"><img
        src="https://d33wubrfki0l68.cloudfront.net/4fa497b3c19dd2aab86b49e6bfce870a160d78fe/8abb2/img/logo.webp"
        width="30" height="30" alt="" loading="lazy">&nbsp; José Goyos<span class="text-sky-400">&nbsp;/Web
        Dev</span></a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal p-0 ">
      <li><a class="focus:btn-info focus:text-white" href="#">Home</a></li>
      <li><a class="focus:btn-info focus:text-white" href="#">About me</a></li>
      <li><a class="focus:btn-info focus:text-white" href="#">Services</a></li>
      <li><a class="focus:btn-info focus:text-white" href="#">Portfolio</a></li>
      <li><a class="focus:btn-info focus:text-white" href="#">Get my CV</a></li>
      <li><a class="focus:btn-info focus:text-white" href="#">Contact</a></li>
    </ul>

  </div>
  <div class="navbar-end">
    <a class="btn btn-info  text-white hidden md:flex">Login
      <svg class="h-6 w-6 ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor"
        stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1" />
      </svg>
    </a>
  </div>
</div>
