<div class="drawer ">
  <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <!-- Navbar -->
    <div class="w-full navbar bg-base-100">
      <div class="flex-none lg:hidden">
        <label for="my-drawer-3" class="btn btn-ghost btn-circle">
          <svg class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
        </label>

      </div>
      <div class="flex-1 px-2 mx-2">
        <div class="navbar-center">
          <a class="btn btn-ghost normal-case text-xl">José Goyos<span class="text-sky-400">&nbsp;/Web Dev</span></a>
        </div>
      </div>
      <div class="flex-none hidden lg:block">
        <ul class="menu menu-horizontal">
          <!-- Navbar menu content here -->
          <li><a>About me</a></li>
          <li><a>Services</a></li>
          <li><a>Portfolio</a></li>
          <li><a>Get my CV</a></li>
          <li><a>Contact</a></li>
        </ul>
      </div>
    </div>

  </div>

  <div class="drawer-side">
    <label for="my-drawer-3" class="drawer-overlay"></label>
    <ul class="menu p-4 overflow-y-auto w-80 bg-base-100">
      <!-- Sidebar content here -->
      <li><a>About me</a></li>
      <li><a>Services</a></li>
      <li><a>Portfolio</a></li>
      <li><a>Get my CV</a></li>
      <li><a>Contact</a></li>
    </ul>

  </div>
</div>
