<div data-theme="business" class="rounded-xl">
  <div class="card w-96  shadow-md my-3">
    <figure class="px-10  pt-10"><img class="rounded-xl" src="assets\images\Ziri.png" alt="Ziri" /></figure>
    <div class="card-body ">
      <h2 class="card-title text-4xl">Ziri-cash</h2>
      <p class="text-xl">If a dog chews shoes whose shoes does he choose?</p>
      <div class="card-actions justify-end">
        <button class="btn btn-outline rounded-full hover:btn-info">Buy Now</button>
      </div>
    </div>
  </div>
</div>
